.card{
    overflow: hidden;
    position:relative;

}
.card-body{
    width: 100%;
    height: 100%;
    top: 0%;
    right: 0%;
position: absolute;;
display:'flex';
flex-direction: row;
right: -100%;
transition: 2s;
color: black;

}
.card:hover .card-body{
    right: 0;
    background-color:red;
    color:blueviolet;
    width: 100%;
    height: 700px;
}
.card:hover .card-image{
 background-color: blue;
width: 100%;
}
.card-image{
 
    width: 1%;
    height: 1%;
  object-fit: cover;
  border-radius: 15px;
  background-color: burlywood;
}